<%- include ../partials/main_nav.ejs %>
<%- include ../partials/header.ejs %>
<!-- Main Content -->
<main class="container">
    <div>
        <div>
            <h1><%= title %></h1>
            <br>
            <table>
                <tr>
                    <th>Contact Name</th>
                    <th>Contact Number</th>
                    <th>Email Address</th>
                    <th></th>
                    <th></th>
                </tr>

                <!-- Repeatable Template Row -->
                <% for(let count = 0; count < ContactList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= ContactList[count].contact_name %></td>
                        <td class="text-center"><%= ContactList[count].contact_number %></td>
                        <td class="text-center"><%= ContactList[count].email %></td>
                        <td><a href="/contact-list/edit/<%= ContactList[count]._id %>" class="contactBtns">Edit</a></td>
                        <td><a href="/contact-list/delete/<%= ContactList[count]._id %>" class="contactBtns">Delete</a></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>

<%- include ../partials/footer.ejs %>